<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/roadmap.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JavaScript (optional, for certain features like dropdowns, modals, etc.) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <style>
        .allMonths {
            margin-left: auto;
            margin-right: auto;
        }

        .month {
            display: flex;
            margin-left: 30%;
            align-items: center;
            /* justify-content: center; */
        }

        .hr {
            width: 20%;
        }

        .monthImg {
            margin: 20px;
        }
    </style>
</head>

<body>
    <div class="full-content">
        <svg width="100%" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
            focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="white">Roadmap</text>
        </svg>
        <div class="allMonths">
            <div class="month">
                <svg class="monthImg rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                    role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
                </svg>
                <div>Month 1
                    <hr>
                    <p>add information</p>
                </div>
            </div>
            <div class="month">
                <svg class="monthImg rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                    role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
                </svg>
                <div>Month 2
                    <hr>
                    <p>add information</p>
                </div>
            </div>
            <div class="month">
                <svg class="monthImg rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                    role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
                </svg>
                <div>Month 3
                    <hr>
                    <p>add information</p>
                </div>
            </div>
            <div class="month">
                <svg class="monthImg rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                    role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
                </svg>
                <div>Month 4
                    <hr>
                    <p>add information</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>