<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>

<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #D9D9D9;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: black;
            font-family: Inter;
            font-weight: regular;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }

        .centered {
            float: none;
            margin: 0 auto;
        }

        li a:hover:not(.active) {
            background-color: #787878;
        }

        .active {
            background-color: #D9D9D9;
        }

        li.download a {
            font-weight: bold;
            border: 1px solid black;
            border-radius: 16px;
            padding: 8px 40px;
            margin-right: 10px;
            margin-top: 5px;
        }

        li.home a {
            font-size: 24px;
        }
    </style>
</head>

<body>

    <ul>
        <li><a href="#initiatives">Initiatives</a></li>
        <li><a href="#careers">Careers</a></li>
        <li><a href="#roadmap">Roadmap</a></li>
        <li class="download" style="float:right"><a href="#download">Download</a></li>
        <li class="centered home"><a href="#home">Home</a></li>
    </ul>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/css/index.css" rel="stylesheet" />
        <<<<<<< HEAD <!-- Bootstrap CSS -->
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
            <!-- Bootstrap JavaScript (optional, for certain features like dropdowns, modals, etc.) -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
                crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
            =======
            >>>>>>> development
            <title>Download Mingley, new way to create new connections!</title>
    </head>

    <body>
        <<<<<<< HEAD <div class="full-content">
            <!-- NAVBAR SECTION -->
            <nav class="navbar navbar-expand-lg navbar-light fixed-top"
                style="background-color: transparent; display: none;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container-fluid">
                    <!-- Centered item -->
                    <a class="navbar-brand" href="index.html" style="font-size: 2rem;">Mingley</a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Left-aligned items -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item nav-left-side">
                                <a class="nav-link active" aria-current="page" href="goals.html">Goals</a>
                            </li>
                            <li class="nav-item nav-left-side">
                                <a class="nav-link" href="careers.html">Careers</a>
                            </li>
                            <li class="nav-item nav-left-side">
                                <a class="nav-link" href="roadmap.html">Roadmap</a>
                            </li>
                            <li class="nav-item nav-left-side">
                                <a class="nav-link" href="Download.html">Download</a>
                            </li>
                        </ul>
                        <!-- Right-aligned item -->
                        <span class="navbar-text ml-auto" href="">
                            Download
                        </span>
                    </div>
                </div>
            </nav>

            <main class="flex-grow" id="content">
                <div class="header-section">
                    <img src="~/img/headerImage.jpg" alt="Header Image" class="header-image">
                    <div class="heading-container">
                        <span>Creating new ways</span>
                        <br>
                        <span>to network</span>
                    </div>
                </div>

                <div class="goals-section">
                    <div class="container col-xxl-8 px-4 py-5">
                        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                            <div class="col-10 col-sm-8 col-lg-6">
                                <img src="~/img/bootstrap-themes.png" class="d-block mx-lg-auto img-fluid"
                                    alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                            </div>
                            <div class="col-lg-6">
                                <div class="goals-mini-header">Our Approach</div>
                                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 goals-big-header">Go meet new
                                    friends</h1>
                                <p class="goals-lead">Mingley is built on the belief that anyone should easily find
                                    friends
                                    no matter where they live. It’s also built on proximity based matching algorithm, so
                                    you
                                    can succceed in you getting you new friends.</p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                    <a href="goals.html" class="btn btn-primary btn-sm">Our Goals</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="roadmap-section">
                    <div class="roadmap-container">
                        <div>Our Journey</div>
                        <h2>Bringing Mingley to you</h2>
                        <!-- insert slides -->
                        <a href="roadmap.html" class="btn btn-primary btn-sm">Our Roadmap</a>
                    </div>
                </div>
                <div class="career-section">
                    <div class="career-container">
                        <div>Work at Mingley</div>
                        <h1>Let's work together</h1>
                        <p>We're looking for people who want to make the process of making friends easier</p>
                        <a href="careers.html" class="btn btn-primary btn-sm">Join us</a>
                    </div>
                </div>
            </main>
            <footer>
                <div class="container">
                    <footer class="py-5">
                        <div class="row">
                            <div class="col-6 col-md-2 mb-3">
                                <h5 class="footer-header">Index</h5>
                                <ul class="nav flex-column">
                                    <li class="nav-item mb-2" id="footer-text"><a href="#"
                                            class="nav-link p-0 text-body-secondary">Goals</a></li>
                                    <li class="nav-item mb-2" id="footer-text"><a href="#"
                                            class="nav-link p-0 text-body-secondary">Careers</a></li>
                                    <li class="nav-item mb-2" id="footer-text"><a href="#"
                                            class="nav-link p-0 text-body-secondary">Roadmap</a></li>
                                    <li class="nav-item mb-2" id="footer-text"><a href="#"
                                            class="nav-link p-0 text-body-secondary">Download</a></li>
                                    <li class="nav-item mb-2" id="footer-text"><a href="#"
                                            class="nav-link p-0 text-body-secondary">Contact</a></li>
                                </ul>
                            </div>

                            <div class="col-6 col-md-2 mb-3">
                                <h5 class="footer-header">Resources</h5>
                                <ul class="nav flex-column">
                                    <li class="nav-item mb-2" id="footer-text"><a href="#"
                                            class="nav-link p-0 text-body-secondary">Trust & Safety</a></li>
                                </ul>
                            </div>

                            <div class="col-6 col-md-2 mb-3">
                                <h5 class="footer-header">Legal</h5>
                                <ul class="nav flex-column">
                                    <li class="nav-item mb-2" id="footer-text"><a href="#"
                                            class="nav-link p-0 text-body-secondary">Security</a></li>
                                    <li class="nav-item mb-2" id="footer-text"><a href="#"
                                            class="nav-link p-0 text-body-secondary">Terms</a></li>
                                    <li class="nav-item mb-2" id="footer-text"><a href="#"
                                            class="nav-link p-0 text-body-secondary">Privacy</a></li>
                                    <li class="nav-item mb-2" id="footer-text"><a href="#"
                                            class="nav-link p-0 text-body-secondary">Cookie Policy & Settings</a></li>
                                    <li class="nav-item mb-2" id="footer-text"><a href="#"
                                            class="nav-link p-0 text-body-secondary">Consumer Health Data Privacy
                                            Policy</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-5 offset-md-1 mb-3">
                                <form>
                                    <h5>Subscribe to our newsletter</h5>
                                    <p>Monthly digest of what's new and exciting from us.</p>
                                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                        <label for="newsletter1" class="visually-hidden">Email address</label>
                                        <input id="newsletter1" type="text" class="form-control"
                                            placeholder="Email address">
                                        <button class="btn btn-primary" type="button">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                            <p>&copy; 2024 Mingley, All rights reserved.</p>
                            <ul class="list-unstyled d-flex">
                                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24"
                                            height="24">
                                            <use xlink:href="#twitter" />
                                        </svg></a></li>
                                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24"
                                            height="24">
                                            <use xlink:href="#instagram" />
                                        </svg></a></li>
                                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24"
                                            height="24">
                                            <use xlink:href="#facebook" />
                                        </svg></a></li>
                            </ul>
                        </div>
                    </footer>
                </div>
                <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
            </footer>
            </div>
            =======
        @* navbar placeholder *@
            <div>navbar</div>
            <section class="header">
                <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
                <p>Creating new ways</p>
                <p>to network</p>
            </section>
            <section class="main">
                <div>
                    <div>
                        <h3>Our Approach</h3>
                        <h2>Go Meet New Friends</h2>
                        <p>
                            Mingley is built on the belief that anyone should easily find
                            friends no matter where they live. It’s also built on proximity
                            based matching algorithm, so you can succeed in you getting you new
                            friends.
                        </p>
                        <button>Our Goals</button>
                    </div>
                    <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
                </div>
                <div>
                    <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
                    <div>
                        <h3>How we achieve that?</h3>
                        <h2>Prioritizing Connections</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco
                        </p>
                        <button>Find out more</button>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>We didn’t forget</h3>
                        <h2>User Safety Focus</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco
                        </p>
                        <button>See now</button>
                    </div>
                    <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
                </div>
            </section>
            <section class="gallery">
                <h2>Event Gallery: Find Something you like?</h2>
                <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
                <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
                <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
                <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
                <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
                <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
            </section>
            >>>>>>> development
    </body>

</html>
