@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/index.css" rel="stylesheet" />
    <title>Download Mingley, new way to create new connections!</title>
</head>

<body>
    @* navbar placeholder *@
    <div>navbar</div>
    <section class="header">
        <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
        <p>Creating new ways</p>
        <p>to network</p>
    </section>
    <section class="main">
        <div>
            <div>
                <h3>Our Approach</h3>
                <h2>Go Meet New Friends</h2>
                <p>
                    Mingley is built on the belief that anyone should easily find
                    friends no matter where they live. It’s also built on proximity
                    based matching algorithm, so you can succeed in you getting you new
                    friends.
                </p>
                <button>Our Goals</button>
            </div>
            <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
        </div>
        <div>
            <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
            <div>
                <h3>How we achieve that?</h3>
                <h2>Prioritizing Connections</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco
                </p>
                <button>Find out more</button>
            </div>
        </div>
        <div>
            <div>
                <h3>We didn’t forget</h3>
                <h2>User Safety Focus</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco
                </p>
                <button>See now</button>
            </div>
            <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
        </div>
    </section>
    <section class="gallery">
        <h2>Event Gallery: Find Something you like?</h2>
        <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
        <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
        <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
        <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
        <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
        <img src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg" alt="" />
    </section>
</body>

</html>
